 @font-face {
    font-family: Comfortaa; /* Имя шрифта */
    src: url(../fonts/Comfortaa-Regular.ttf); /* Путь к файлу со шрифтом */
   }
   h1, h2, a {
    font-family: Comfortaa;
   }
.bkackbag {
	background-color: rgba(0,0,0,0.8);
}
.logo_img {
	width: 150px;
}
.welcome_page {
	display: flex;
	align-items: center;
	color: white;
	
	min-height: 100vh;
	width: 100%;
	background-image: url(../img/editors-keys-3NY445d2dVk-unsplash.jpg);
	background-size: cover;
	background-position: 50% 50%;
}
.welcome_page h1{
	text-align: center;
	font-size: 40px;
	text-shadow:0 0 2px black/*#01a7fd*/; 
}
.welcome_page p{
	text-align: center;
	font-size: 20px;
	color: #01a7fd;
}
.navbar-nav li{
	margin-left: 20px; 
	
}
.navbar-nav a{
	color: blue;
	font-size: 18px;
}
.stack_of_tech {
	padding-top: 50px;
	padding-bottom: 50px;

	text-align: center;
}
@media(max-width: 750px){
	.welcome_page h1{
	
		font-size: 24px;
	}
}